td, th {
  vertical-align: middle !important;
  text-align: center !important;
}
.input-group {
  margin: 20px 0px;
}

/*svg {     can use this or set the svgHeight and svgWidth directly on the sparklines component
  height: 150px;
}*/


td:first-of-type, td:first-of-type > div {
  height: 140px;
  width: 225px;
  margin: 5px;
}
